<div class="flex flex-col p-4">
  <div>
    <h1>Blog</h1>
  </div>
  <div>
    <p class="underline text-blue-500"><%= link_to "New Blog Post", new_blog_post_path %></p>
  </div>

  <% @blog_posts.each do |post|%>
    <div class="p-4">
      <h2 class="underline text-blue-500">
        <%= link_to post.title, blog_post_path(post) %>
      </h2>
      <p>
        <%= post.body %>
      </p>
    </div>
    <% end %>

    <div>
      </div>



</div>